/* FONTS */
$fontBody: 'lato', "raleway", Helvetica Neue, Arial, sans-serif;
$fontCode: menlo, courier-new, monospace;

$fontSize: 17px; /* 18px */

$fs1: 2.827em; /* 46.388 */
$fs2: 2em; /* 37.11 */
$fs3: 1.47em; /* 29.688 */
$fs4: 1em; /* 23.75 */
$fs5: 0.736em; /* 16 */
$fs6: 0.52em; /* 13 */

/* COLOR */
$bg: #fff;
$black: #4C4C4F;
$red: #3D73D9;
$grey: #909092;

/* VERTICAL RHYTHM */
$verticalRhythm: 1.55;

/* VIEWPORTS */
$small_view: 40rem;