img {
	height: auto;
	display: block;
	margin-bottom: ($verticalRhythm / 2) + em;
}

.hero {
	width: 100%;
	margin: ($verticalRhythm * 1.5) + em auto ($verticalRhythm + em);
}

.alignleft, .alignright {
	display: block;
	margin: $verticalRhythm + em auto;
	max-width: 100%;
}

.alignleft {
	@media (min-width: $small_view) {
		float:left;
		margin-right: $verticalRhythm + em;
		margin-top: 0.4em;
		max-width: 50%;
	}
}

.alignright {
	@media (min-width: $small_view) {
		float:right;
		margin-left: $verticalRhythm + em;
		margin-top: 0.4em;
		max-width: 50%;
	}
}

.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 100%;
}

figure {
	padding: 0;
	margin-bottom: $verticalRhythm * 2 + em;
	img {
		padding: 0;
		max-width: 100%;
		a {
			border: none;
			text-decoration: none;
		}
	}
}

figcaption {
	font-size: 0.6em;
	position: relative;
	bottom: 0;
	float: right;
	text-align: right;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 35px;
	height: 0;
	overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background_cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.thumb_link, .thumb_link_hero {
	opacity: 1;
	@include transition(opacity 200ms ease-out);
	&:hover {
		opacity: 0.9;
		@include transition(opacity 200ms ease-out);
	}
}

.thumb_img, .thumb_img_hero {
	border: 7px solid #bababa;
}

.thumb_link div {
	height: 12em;
}

.thumb_link_hero div {
	height: 12em;
	@media (min-width: $small_view) {
		height: 15em;
		width: 85%;
		margin: 0 auto;
	}
}
