---
layout: default
---

<div class="post">
<img class="alignright" src="http://www.oiphotography.com/blog/081023/IMG_2315.jpg" />
	<img class="alignright" src="http://www.oiphotography.com/blog/081023/IMG_2315.jpg" />

  <h1 class="page-heading">Latest News</h1>

  <article class="post-list">
    {% for post in site.posts %}

				<h2 class="post-title">
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
				<h5 class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</h5>
        <div class="post-content">
					{{ post.content }}
        </div>
	</article>
    {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>